.calculator {
    margin-left: 34.5%;
    margin-top: 5%;
    padding: 20px;
    border-radius:2% ;
    height: 500px;
    width: 450px;
    background: black;
}
#result{
    border-radius: 1%;
    width: 98%;
    font-family: verdana,sans-serif;
    background-color: whitesmoke;
    color: black;
    height: 65%;
    border: brown;
    font-size: large;
    font-weight: 500;
}
#btn {
    background-color: rgb(140, 224, 66);
    color: white;
    font-weight: 800;
    font-size: large
}
input[type=button] {
    font-family: 'Orbitron', sans-serif;
    color: black ;
    border: brown;
    width: 100%;
    border-radius: 5px;
    height: 70%;
    outline: none;
}
#btn3{
    background-color: grey;
    color: white;
    font-size: large;
    font-weight: 500;
}
#btn1{
    font-size: large;
    font-weight: 500;
    color: black;
}
#btn2{
    font-size: large;
    font-weight: 500;
    color: white;
    background-color: darkorange;
}